<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Northwind_Database"
         connectionString="Data Source=localhost\sqlexpress;Initial Catalog=Northwind_Database;Integrated Security=SSPI;"/>
    <add name="Southsand_Database"
         connectionString="Data Source=localhost\sqlexpress;Initial Catalog=Southsand_Database;Integrated Security=SSPI;"/>
  </connectionStrings>
</configuration>