<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="log4net" 
				 type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
		<section name="activerecord"
				 type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord"/>
	</configSections>

	<activerecord pluralizeTableNames="true">
		<config >
			<add key="hibernate.connection.driver_class"
				 value="NHibernate.Driver.SQLite20Driver" />
			<add key="hibernate.dialect"
				 value="NHibernate.Dialect.SQLiteDialect" />
			<add key="hibernate.connection.connection_string"
				 value="Data Source=ayende.blog;Version=3;New=True;" />
			<add key="hibernate.show_sql"
				 value="false"/>
		</config>
	</activerecord>

</configuration>
