<log4net xmlns="urn:log4net">
	<appender name="BulkInsertLogger"
			  type="Rhino.Commons.Logging.AsyncBulkInsertAppender, Rhino.Commons">
		<bufferSize value="1000" />
		<connectionStringName value="Rhino.Commons.Test.Properties.Settings.TestDatabase"/>
		<tableName value="test_logging"/>
		<mapping>
			<column value="date" />
			<layout type="log4net.Layout.RawTimeStampLayout" />
		</mapping>
		<mapping>
			<column value="logger"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger" />
			</layout>
		</mapping>
		<mapping>
			<column value="msg"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message" />
			</layout>
		</mapping>
		<mapping>
			<column value="exception"/>
			<layout type="log4net.Layout.ExceptionLayout" />
		</mapping>
	</appender>
	<root>
		<appender-ref ref="BulkInsertLogger" />
	</root>
</log4net>