<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<facilities>
		<facility id="nested.configuration.items.facility"
				  type="Rhino.Commons.NestedConfigurationFacility, Rhino.Commons">
			<configuration>
				<foo>
					<bar>baz</bar>
				</foo>
			</configuration>
		</facility>
	</facilities>

	<components>


		<component id='demo' 
				   type='Rhino.Commons.Test.DemoClass, Rhino.Commons.Test' >
			<parameters>
				<name>@{ foo :: bar }</name>
			</parameters>
		</component>
	</components>
</configuration>