<?xml version="1.0" encoding='iso-8859-1' ?>
<project
	name="rhino.tools"
	default="build"
	xmlns="http://nant.sf.net/release/0.85/nant.xsd"
>
	<property name="nhibernate.dir" value="${root.dir}/../nhibernate"/>
	<property name="castle.dir" value="${root.dir}/../castle"/>
	<property name="rhino.dir" value="${root.dir}/../rhino-tools"/>
	
</project>