<?xml version="1.0"?>

<configuration>

  <configSections>
    <section name="activerecord"
			type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord"/>
  </configSections>

  <connectionStrings>
    <add name="test"
			connectionString="Data Source=localhost;Initial Catalog=test;Trusted_Connection=Yes;"/>
  </connectionStrings>

  <activerecord pluralizeTableNames="true"
      default-lazy="true"
      threadinfotype="Castle.ActiveRecord.Framework.Scopes.HybridWebThreadScopeInfo, Castle.ActiveRecord">
    <config>
      <add key="connection.driver_class"
				 value="NHibernate.Driver.SqlClientDriver"/>
      <add key="dialect"
				 value="NHibernate.Dialect.MsSql2000Dialect"/>
      <add key="connection.provider"
				 value="NHibernate.Connection.DriverConnectionProvider"/>
      <add key="connection.connection_string_name"
				 value="test"/>
    </config>
  </activerecord>


  <system.web>
    <pages validateRequest="false"/>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true" />
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    </system.web>
</configuration>
