<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="castle"
             type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <castle>
    <facilities>
      <facility id="rhino.esb" >
        <bus threadCount="1"
             numberOfRetries="5"
             endpoint="msmq://localhost/test_queue"
             errorEndpoint="msmq://localhost/error_test_queue" />
        <subscription queue="msmq://localhost/test_subscriptions"/>
      </facility>
    </facilities>
  </castle>
</configuration>