<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="log4net" 
				 type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
		<section name="monoRail"
				 type="Castle.MonoRail.Framework.Configuration.MonoRailSectionHandler, Castle.MonoRail.Framework" />
		<section name="brail"
				 type="Castle.MonoRail.Views.Brail.BrailConfigurationSection, Castle.MonoRail.Views.Brail" />
		<section name="activerecord"
				 type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord"/>
		<sectionGroup name="applicationSettings"
					  type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Rhino.Commons.Properties.Settings"
					 type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<add name="DefaultDatabase"
			 connectionString="Data Source=localhost;Initial Catalog=test;Integrated Security=SSPI" />
	</connectionStrings>

	<applicationSettings>
		<Rhino.Commons.Properties.Settings>
			<setting name="WindsorConfig"
					 serializeAs="String">
				<value>Windsor.boo</value>
			</setting>
			<setting name="HibernateConfig"
					 serializeAs="String">
				<value>hibernate.cfg.xml</value>
			</setting>
		</Rhino.Commons.Properties.Settings>
	</applicationSettings>

	<monoRail>
		<services>
			<service  
				id="Custom" 
				interface="Castle.Core.Logging.ILoggerFactory, Castle.Core"
				type="Castle.Services.Logging.Log4netIntegration.Log4netFactory, Castle.Services.Logging.Log4netIntegration" />
		</services>
		<controllers>
			<assembly>Exesto.Web</assembly>
			<assembly>Rhino.Components</assembly>
		</controllers>
		<viewEngine 
      		viewPathRoot="Views" 
			xhtmlRendering="true"
			customEngine="Castle.MonoRail.Views.Brail.BooViewEngine, Castle.MonoRail.Views.Brail" />
		<routing>
			<rule>
				<pattern>/(?'controller'\w+)/(?'id'\d+)/(?'action'\w+)\.rails(\?(?'queryString'.*))?</pattern>
				<replace><![CDATA[ /${controller}/${action}.rails?id=${id}&${queryString} ]]></replace>
			</rule>
		</routing>
	</monoRail>

	<activerecord pluralizeTableNames="true"
				  default-lazy="false">
		<config >
			<add key="hibernate.connection.driver_class"
				 value="NHibernate.Driver.SqlClientDriver" />
			<add key="hibernate.dialect"
				 value="NHibernate.Dialect.MsSql2005Dialect" />
			<add key="hibernate.connection.provider"
				 value="NHibernate.Connection.DriverConnectionProvider" />
			<add key="hibernate.connection.connection_string_name"
				 value="DefaultDatabase" />
			<add key="hibernate.show_sql"
				 value="true"/>
		</config>
	</activerecord>

	<brail 
		debug="true"  
		saveToDisk="true" 
		saveDirectory="BrailGen" 
		batch="false" 
		commonScriptsDirectory="CommonScripts">
		<reference assembly="Castle.MonoRail.Framework"/>
		<reference assembly="Exesto.Model"/>
	</brail>

	<system.web>
		<httpHandlers>
			<add verb="*"
				 path="*.rails" 
				 type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" />
		</httpHandlers>

		<httpModules>
			<add name="routing"
				 type="Castle.MonoRail.Framework.RoutingModule, Castle.MonoRail.Framework" />
			<add name="monorail"
				 type="Castle.MonoRail.Framework.EngineContextModule, Castle.MonoRail.Framework" />
		</httpModules>
	</system.web>

</configuration>
