<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Chapter5.Poster.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Chapter5.Poster.Properties.Settings>
            <setting name="URL" serializeAs="String">
                <value>http://localhost:24640/JSON.EndPoint.ashx</value>
            </setting>
            <setting name="Data" serializeAs="String">
                <value>{
	type: "NewOrder",
	customer_id: 15,
	type: "fast",
	order_lines: 
		[
			{ product: 3, qty: 5 },
			{ product: 8, qty: 6 },
			{ product: 2, qty: 3 },
		]
}</value>
            </setting>
        </Chapter5.Poster.Properties.Settings>
    </userSettings>
</configuration>