<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Product UpgradeCode="AD57411B-D689-4AB6-98DA-18EB520D2654"
			 Name="NHibernate Query Generator"
			 Id="29D08C8C-13C5-4E18-B946-784E0F37B66D"
			 Version="1.7.0"
			 Manufacturer="Rhino"
			 Language="1033">
		<Package Id="37D46D48-11AB-4167-BA7E-04604D1A08F2"
				 Comments="Generate strongly typed queries from NHibernate mapping files"
				 Manufacturer="Rhino"
				 InstallerVersion="200"
				 Platforms="Intel"
				 Languages="1033"
				 Compressed="yes"
				 SummaryCodepage="1252" />
		<Media Id="1"
			   Cabinet="Product.cab"
			   EmbedCab="yes" />
		<Directory Id="TARGETDIR"
				   Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="CompDir"
						   Name="Rhino">
					<Directory Id="INSTALLLOCATION"
							   Name="NHQG"
							   LongName="NHibernate Query Generator">
						<Component Id="DynamicProxy"
								   Guid="45CCE997-AB88-DB2B-F927-A6D07E64CA9F">
							<File Id="_163072F0A81FAF0CA5A431C41CDA3C91"
								  Name="DnyProx.DLL"
								  LongName="Castle.DynamicProxy.dll"
								  Source="$(var.BuildPath)Castle.DynamicProxy.dll"
								  Vital="yes"
								  KeyPath="yes"
								  AssemblyManifest="_163072F0A81FAF0CA5A431C41CDA3C91"
								  AssemblyApplication="_163072F0A81FAF0CA5A431C41CDA3C91"
								  Assembly=".net"
								  DiskId="1" />
						</Component>
						<Component Id="Log4Net"
								   Guid="6584B262-BE7B-A186-42B3-540328112ABF">
							<File Id="_17C0F2D5998C66C8E8C43754CC8FA800"
								  Name="LOG4NET.DLL"
								  LongName="log4net.dll"
								  Source="$(var.BuildPath)log4net.dll"
								  Vital="yes"
								  KeyPath="yes"
								  AssemblyManifest="_17C0F2D5998C66C8E8C43754CC8FA800"
								  AssemblyApplication="_17C0F2D5998C66C8E8C43754CC8FA800"
								  Assembly=".net"
								  DiskId="1" />
						</Component>
						<Component Id="Castle_Core"
								   Guid="364F8B9E-9CA1-A535-4662-45B73B559C43">
							<File Id="_439738D3F3603A992F373A1446A80F52"
								  Name="Core.DLL"
								  LongName="Castle.Core.dll"
								  Source="$(var.BuildPath)Castle.Core.dll"
								  Vital="yes"
								  KeyPath="yes"
								  AssemblyManifest="_439738D3F3603A992F373A1446A80F52"
								  AssemblyApplication="_439738D3F3603A992F373A1446A80F52"
								  Assembly=".net"
								  DiskId="1" />
						</Component>
						<Component Id="ActiveRecord"
								   Guid="81799360-19E9-DDDC-2712-30DDF8FE6332">
							<File Id="_4875AE11A6286D60A23F24569AED12A4"
								  Name="AR.DLL"
								  LongName="Castle.ActiveRecord.dll"
								  Source="$(var.BuildPath)Castle.ActiveRecord.dll"
								  Vital="yes"
								  KeyPath="yes"
								  AssemblyManifest="_4875AE11A6286D60A23F24569AED12A4"
								  AssemblyApplication="_4875AE11A6286D60A23F24569AED12A4"
								  Assembly=".net"
								  DiskId="1" />
						</Component>
						<Component Id="NHib"
								   Guid="DD834FE3-0AFB-EC57-2653-95AEAD063057">
							<File Id="_97F7B1EF155F06F8481033EAC03671CF"
								  Name="NHib.DLL"
								  LongName="NHibernate.dll"
								  Source="$(var.BuildPath)NHibernate.dll"
								  Vital="yes"
								  KeyPath="yes"
								  AssemblyManifest="_97F7B1EF155F06F8481033EAC03671CF"
								  AssemblyApplication="_97F7B1EF155F06F8481033EAC03671CF"
								  Assembly=".net"
								  DiskId="1" />
						</Component>
						<Component Id="iesi_collections"
								   Guid="D6163786-577F-E943-5F8F-98A3A19F23DA">
							<File Id="_A9384B4BB22ADDB54CD7E1CEE022F041"
								  Name="Sets.DLL"
								  LongName="Iesi.Collections.dll"
								  Source="$(var.BuildPath)Iesi.Collections.dll"
								  Vital="yes"
								  KeyPath="yes"
								  AssemblyManifest="_A9384B4BB22ADDB54CD7E1CEE022F041"
								  AssemblyApplication="_A9384B4BB22ADDB54CD7E1CEE022F041"
								  Assembly=".net"
								  DiskId="1" />
						</Component>
						<Component Id="Register_Custom_Tool"
								   Guid="366829FA-7689-E8A0-57F6-B70CB80C6080">
							<Registry Id="_AB45EEB1D58542D7B96B63624F1E9051"
									  Root="HKLM"
									  Key="Software\Microsoft\VisualStudio\8.0\Generators\{fae04ec1-301f-11d3-bf4b-00c04f79efbc}\NHibernateQueryGenerator"
									  Type="string"
									  Value="Generate Strongly Typed Queries From Nhibernate Mapping Files (*.hbm.xml)" />
							<Registry Id="_F521248BFF244148A6948D8882ECD7E3"
									  Root="HKLM"
									  Key="Software\Microsoft\VisualStudio\8.0\Generators\{fae04ec1-301f-11d3-bf4b-00c04f79efbc}\NHibernateQueryGenerator"
									  Name="GeneratesDesignTimeSource"
									  Type="integer"
									  Value="1" />
							<Registry Id="_AD64A9CD79E2403180FC073C84140A09"
									  Root="HKLM"
									  Key="Software\Microsoft\VisualStudio\8.0\Generators\{164b10b9-b200-11d0-8c61-00a0c91e29d5}\NHibernateQueryGenerator"
									  Type="string"
									  Value="Generate Strongly Typed Queries From Nhibernate Mapping Files (*.hbm.xml)" />
							<Registry Id="_CC1EDA258CEA4F7BBC5B4B25287A7324"
									  Root="HKLM"
									  Key="Software\Microsoft\VisualStudio\8.0\Generators\{164b10b9-b200-11d0-8c61-00a0c91e29d5}\NHibernateQueryGenerator"
									  Name="GeneratesDesignTimeSource"
									  Type="integer"
									  Value="1" />
							<Registry Id="_EEE52E57B45D4A6E99537E3AFCCF3F4C"
									  Root="HKLM"
									  Key="Software\Microsoft\VisualStudio\8.0\Generators\{164b10b9-b200-11d0-8c61-00a0c91e29d5}\NHibernateQueryGenerator"
									  Name="CLSID"
									  Type="string"
									  Value="{DE8A7135-96F6-47ba-9DC9-D7D837B4CDE3}" />
							<Registry Id="_93C9C19EC43B4AADAA1E02204AA648E3"
									  Root="HKLM"
									  Key="Software\Microsoft\VisualStudio\8.0\Generators\{fae04ec1-301f-11d3-bf4b-00c04f79efbc}\NHibernateQueryGenerator"
									  Name="CLSID"
									  Type="string"
									  KeyPath="yes"
									  Value="{DE8A7135-96F6-47ba-9DC9-D7D837B4CDE3}" />
						</Component>
						<Component Id="NHQG_CONF"
								   Guid="AF635E43-2257-8D69-6DD4-46CCCF54D4B7">
							<File Id="NHIB_CONFIGURATION"
								  Name="NHQG.Cfg"
								  Source="$(var.BuildPath)NHQG.exe.config"
								  LongName="NHQG.exe.config"
								  Vital="yes"
								  KeyPath="yes"
								  DiskId="1" />
						</Component>
						<Component Id="NHQG_EXE"
								   Guid="2ED4CE7E-864F-4730-8825-65A50975F7A5">
							<File Id="NHIB_EXECUTABLE"
								  Name="NHQG.Exe"
								  Source="$(var.BuildPath)NHQG.exe"
								  LongName="NHQG.exe"
								  Vital="yes"
								  KeyPath="yes"
								  DiskId="1" />
						</Component>
						<Component Id="Register_COM_Component"
								   Guid="D2DB2A5D-B5BD-9DAD-3A4D-594F73A3F7EC">
							<File Id="_A6D52CE80673878F06D0D60292AAFF5F"
								  Name="NHQG.EXE"
								  LongName="NHQG.exe"
								  Source="$(var.BuildPath)NHQG.exe"
								  Vital="yes"
								  KeyPath="yes"
								  AssemblyManifest="_A6D52CE80673878F06D0D60292AAFF5F"
								  AssemblyApplication="_A6D52CE80673878F06D0D60292AAFF5F"
								  Assembly=".net"
								  DiskId="1" />
							<Registry Id="_2FFEC51D4A55451EA3C02A13F9F5E81F"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{DE8A7135-96F6-47BA-9DC9-D7D837B4CDE3}\InprocServer32\1.6.0.0"
									  Name="Class"
									  Type="string"
									  Value="NHibernate.Query.Generator.NHibernateQueryGenerator" />
							<Registry Id="_928679DFCA434D16822885E25E423E54"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{DE8A7135-96F6-47BA-9DC9-D7D837B4CDE3}\InprocServer32\1.6.0.0"
									  Name="CodeBase"
									  Type="string"
									  Value="[#_A6D52CE80673878F06D0D60292AAFF5F]" />
							<Registry Id="_9E82A21798C1459A9982ED83680CA5FA"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{DE8A7135-96F6-47BA-9DC9-D7D837B4CDE3}\InprocServer32\1.6.0.0"
									  Name="RuntimeVersion"
									  Type="string"
									  Value="v2.0.50727" />
							<Registry Id="_DEA90E2EE8CB436FA418ECB4E697E1C7"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{DE8A7135-96F6-47BA-9DC9-D7D837B4CDE3}\InprocServer32\1.6.0.0"
									  Name="Assembly"
									  Type="string"
									  Value="NHQG, Version=1.6.0.0, Culture=neutral, PublicKeyToken=0b3305902db7183f" />
							<Registry Id="_F7D486702C434288ABA81C65FD187575"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{DE8A7135-96F6-47BA-9DC9-D7D837B4CDE3}\InprocServer32"
									  Type="string"
									  Value="mscoree.dll" />
							<Registry Id="_187FF0C0CCAE477AB02B1D81D7FE8D0E"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{DE8A7135-96F6-47BA-9DC9-D7D837B4CDE3}\InprocServer32"
									  Name="ThreadingModel"
									  Type="string"
									  Value="Both" />
							<Registry Id="_6BB09361928A464492F98964B41961E2"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{DE8A7135-96F6-47BA-9DC9-D7D837B4CDE3}\InprocServer32"
									  Name="Class"
									  Type="string"
									  Value="NHibernate.Query.Generator.NHibernateQueryGenerator" />
							<Registry Id="_BBEFC38E342E4F659E4D93E8825474D8"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{DE8A7135-96F6-47BA-9DC9-D7D837B4CDE3}\InprocServer32"
									  Name="RuntimeVersion"
									  Type="string"
									  Value="v2.0.50727" />
							<Registry Id="_EC45DE65402D4FF1B59AE9F0573AEC2F"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{DE8A7135-96F6-47BA-9DC9-D7D837B4CDE3}\InprocServer32"
									  Name="CodeBase"
									  Type="string"
									  Value="[#_A6D52CE80673878F06D0D60292AAFF5F]" />
							<Registry Id="_F8667291B19E4E1AA744C1965EBC594E"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{DE8A7135-96F6-47BA-9DC9-D7D837B4CDE3}\InprocServer32"
									  Name="Assembly"
									  Type="string"
									  Value="NHQG, Version=1.6.0.0, Culture=neutral, PublicKeyToken=0b3305902db7183f" />
							<Registry Id="_645EDE3F267C4FDB938FA4D7420B388D"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{DE8A7135-96F6-47BA-9DC9-D7D837B4CDE3}\Implemented Categories\{62C8FE65-4EBB-45E7-B440-6E39B2CDBF29}"
									  Action="createKeyAndRemoveKeyOnUninstall" />
							<Registry Id="_00A750C5C5214FFCA2937C831300DC49"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{DE8A7135-96F6-47BA-9DC9-D7D837B4CDE3}\ProgId"
									  Type="string"
									  Value="NHibernate.Query.Generator.NHibernateQueryGenerator" />
							<Registry Id="_C10F7D43C76B43829638C84D1F899314"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{DE8A7135-96F6-47BA-9DC9-D7D837B4CDE3}"
									  Type="string"
									  Value="NHibernate.Query.Generator.NHibernateQueryGenerator" />
							<Registry Id="_B14B662EF2AC440DA7CAB300258C979F"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\NHibernate.Query.Generator.NHibernateQueryGenerator\CLSID"
									  Type="string"
									  Value="{DE8A7135-96F6-47BA-9DC9-D7D837B4CDE3}" />
							<Registry Id="_45B512DAD9434DB2A764AAB66E50CA8B"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\NHibernate.Query.Generator.NHibernateQueryGenerator"
									  Type="string"
									  Value="NHibernate.Query.Generator.NHibernateQueryGenerator" />
						</Component>
						<Component Id="AddingToPath"
								   Guid="D6D985C0-8469-4C0C-88D1-5F04AAFD753A"
								   DiskId="1">
							<!-- Note that permanent is set to "yes", because 
								otherwise on uninstall we will loose the path 
							-->
							<Environment Id="Add_NHQG_To_Path"
										 Name="PATH"
										 Action="create"
										 Permanent="yes" 
										 Part="last"
										 Value="[INSTALLLOCATION]" />
						</Component>
					</Directory>


				</Directory>
			</Directory>
		</Directory>

		<Feature Id="NHibernate_Query_Generator"
				 Title="NHibernate Query Generator"
				 Level="1"
				 Display="expand"
				 ConfigurableDirectory="INSTALLLOCATION">
			<Feature Id="Install_Files"
					 Level="1"
					 Title="Required Files"
					 Description="The files required for NHibernate Query Generator to work">
				<ComponentRef Id="DynamicProxy" />
				<ComponentRef Id="Log4Net" />
				<ComponentRef Id="Castle_Core" />
				<ComponentRef Id="ActiveRecord" />
				<ComponentRef Id="NHib" />
				<ComponentRef Id="iesi_collections" />
				<ComponentRef Id="NHQG_CONF" />
				<ComponentRef Id="NHQG_EXE" />
			</Feature>
			<Feature Id="Custom_Tool"
					 Level="1"
					 Description="An extention to Visual Studio that will automatically generate the strongly typed query files when a change occurs to NHibernate's Mapping files."
					 Title="Custom Tool For Visual Studio .Net">
				<ComponentRef Id="Register_COM_Component" />
				<ComponentRef Id="Register_Custom_Tool" />
				<Condition Level="0">NOT Privileged</Condition>
			</Feature>
			<Feature Id="Add_To_Path"
					 Description="Adding NHQG.exe to your path, so you can call it directly from the command prompt."
					 Title="Add to path" 
					 Level="1">
				<ComponentRef Id="AddingToPath"/>
			</Feature>
		</Feature>

		<UIRef Id="WixUI_Mondo" />
		<UIRef Id="WixUI_ErrorProgressText" />
	</Product>
</Wix>
