<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <connectionStrings>
        <add name="Rhino.Commons.Test.Properties.Settings.TestDatabase"
            connectionString="Data Source=localhost;Initial Catalog=Test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	<log4net>
		<appender name="rolling-sqlce-appender"
				  type="Rhino.Commons.Logging.RollingSqlCEAppender, Rhino.Commons"/>
		<root>
			<appender-ref ref="rolling-sqlce-appender"/>
		</root>
	</log4net>
</configuration>