<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BookStore.Properties.Settings.Database" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=C:\SAMPLES\PROJECT\BOOKSTORE\BOOKSTORE\SQL\BOOKSTORE.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>