<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="hibernate.connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="hibernate.connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="hibernate.connection.connection_string_name">Northwind_Database</property>
    <property name="hibernate.dialect">NHibernate.Dialect.MsSql2005Dialect</property>
    <property name="hibernate.use_outer_join">true</property>
    <!--<property name="hibernate.show_sql">true</property>-->
    <property name="hibernate.query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
    
    <mapping resource="PayRollSystem.Northwind.Employee.hbm.xml" assembly="PayRollSystem"/>
  </session-factory>
</hibernate-configuration>
