<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TracUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TracUI.Properties.Settings>
            <setting name="LastMilestone" serializeAs="String">
                <value />
            </setting>
            <setting name="LastComponent" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPriority" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSeverity" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowInGantt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value>http://subversion/trac/WorkScheduler/login/xmlrpc</value>
            </setting>
            <setting name="TicketUrl" serializeAs="String">
                <value>http://subversion/trac/WorkScheduler/ticket/{0}</value>
            </setting>
        </TracUI.Properties.Settings>
    </userSettings>
</configuration>