<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rhino.Commons.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Rhino.Commons.NHibernate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Rhino.Commons.Properties.Settings>
            <setting name="WindsorConfig" serializeAs="String">
                <value>Windsor</value>
            </setting>
            <setting name="HibernateConfig" serializeAs="String">
                <value>hibernate.cfg.xml</value>
            </setting>
            <setting name="MaxNumberOfQueriesPerRequest" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LongConversationRequestKey" serializeAs="String">
                <value>LongConversationKey</value>
            </setting>
        </Rhino.Commons.Properties.Settings>
    </applicationSettings>
</configuration>