<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<components>
		<component id="activerecord.repository"
				   service ="Rhino.Commons.IRepository`1, Rhino.Commons.NHibernate"
				   type="Rhino.Commons.ARRepository`1, Rhino.Commons.ActiveRecord"/>
		<component id="activerecord.unit-of-work.factory"
				   service ="Rhino.Commons.IUnitOfWorkFactory, Rhino.Commons.NHibernate"
			 	   type="Rhino.Commons.ActiveRecordUnitOfWorkFactory, Rhino.Commons.ActiveRecord"/>
	</components>
</configuration>
