  <configSections>
    <section name="activerecord"
			type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord"/>
  </configSections>

  <connectionStrings>
    <add name="test"
			connectionString="Data Source=localhost;Initial Catalog=test;Trusted_Connection=Yes;"/>
  </connectionStrings>

  <activerecord pluralizeTableNames="true"
      default-lazy="true"
      threadinfotype="Castle.ActiveRecord.Framework.Scopes.HybridWebThreadScopeInfo, Castle.ActiveRecord">
    <config>
      <add key="connection.driver_class"
				 value="NHibernate.Driver.SqlClientDriver"/>
      <add key="dialect"
				 value="NHibernate.Dialect.MsSql2000Dialect"/>
      <add key="connection.provider"
				 value="NHibernate.Connection.DriverConnectionProvider"/>
      <add key="connection.connection_string_name"
				 value="test"/>
    </config>
  </activerecord>
