<?xml version="1.0"?>

<configuration>

	<configSections>
		<section name="activerecord"
						 type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord" />
		<section name="monoRail"
                 type="Castle.MonoRail.Framework.Configuration.MonoRailSectionHandler, Castle.MonoRail.Framework" />
		<sectionGroup name="applicationSettings"
				  type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Rhino.Commons.Properties.Settings"
					 type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Rhino.Commons.Properties.Settings>
			<setting name="WindsorConfig"
					 serializeAs="String">
				<value>Windsor.boo</value>
			</setting>
		</Rhino.Commons.Properties.Settings>
	</applicationSettings>
	<connectionStrings>
		<add name="Default"
			 connectionString="Data Source=localhost;Initial Catalog=Northwind;Integrated Security=True"/>
	</connectionStrings>
	<monoRail useWindsorIntegration="true">
		<controllers>
			<assembly>HibernatingForums.Web</assembly>
			<assembly>Castle.MonoRail.ViewComponents</assembly>
		</controllers>
		<viewEngine viewPathRoot="Views"
			customEngine="Castle.MonoRail.Views.Brail.BooViewEngine, Castle.MonoRail.Views.Brail" />
	</monoRail>


	<activerecord isWeb="true" pluralizeTableNames="true">
		<config>
			<add key="hibernate.connection.driver_class"
				 value="NHibernate.Driver.SqlClientDriver" />
			<add key="hibernate.dialect"
				 value="NHibernate.Dialect.MsSql2005Dialect" />
			<add key="hibernate.connection.provider"
				 value="NHibernate.Connection.DriverConnectionProvider" />
			<add key="hibernate.connection.connection_string_name"
				 value="Default" />
			<add key="hibernate.show_sql"
				 value="false" />
		</config>
	</activerecord>

	<system.web>
		<httpHandlers>
			<add verb="*" path="*.rails"
               type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" />
		</httpHandlers>
		<httpModules>
			<add name="monorail" type="Castle.MonoRail.Framework.EngineContextModule, Castle.MonoRail.Framework" />
		</httpModules>

		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" />
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
