<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="NHibernate.Profiler"
            type="HibernatingRhinos.NHibernate.Profiler.Appender.NHibernateProfilerAppender, HibernatingRhinos.NHibernate.Profiler.Appender" >
    <sink value="tcp://localhost:8085/NHibernateAppenderLoggingSink" />
  </appender>

	<logger name="NHibernate.SQL">
    <appender-ref ref="NHibernate.Profiler"/>
  </logger>

  <logger name="NHibernate.Impl.SessionImpl">
    <appender-ref ref="NHibernate.Profiler"/>
  </logger>
	
	<logger name="NHibernate.Event.Default.DefaultLoadEventListener">
		<appender-ref ref="NHibernate.Profiler"/>
	</logger>
	
</log4net>
