<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BDSLiB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BDSLiB.Properties.Settings>
            <setting name="RoutingScriptsDirectory" serializeAs="String">
                <value>D:\OSS\rhino-tools\SampleApplications\BDSLiB\Source\Scripts\Routing</value>
            </setting>
            <setting name="AuthorizationScriptsDirectory" serializeAs="String">
                <value>D:\OSS\rhino-tools\SampleApplications\BDSLiB\Source\Scripts\Authorization</value>
            </setting>
            <setting name="QuoteGenerationScript" serializeAs="String">
                <value>D:\OSS\rhino-tools\SampleApplications\BDSLiB\Source\Scripts\QuoteGenerator\sample.boo</value>
            </setting>
        </BDSLiB.Properties.Settings>
    </applicationSettings>
</configuration>