<cruisecontrol>
	<project>
		<name>NHibernate Query Analyzer</name>
		<sourcecontrol type="svn">
			<executable>c:\program files\subversion\bin\svn.exe</executable>
			<trunkUrl>svn://svn.berlios.de/nqa/</trunkUrl>
			<workingDirectory>c:\cc.net\Nqa</workingDirectory>
		</sourcecontrol>
		<intervalTrigger seconds="300" buildCondition="ForceBuild"/>
		<tasks>
			<nant>
			  <executable>C:\program files\nant\bin\nant.exe</executable>
			  <baseDirectory>c:\cc.net\nqa</baseDirectory>
			  <nologo>false</nologo>
			  <buildFile>cruise.build</buildFile>
			  <buildTimeout>300000</buildTimeout>
			</nant>
			 <merge>
		             <files>
                		  <file><!-- path to NUnit test file --></file>
		                  <file><!-- path to FxCop file --></file>
		             </files>
		         </merge>
		</tasks>
		<publishers>
			<email from="buildmaster@ayende.com" mailhost="smtp.ayende.com" includeDetails="TRUE">
				<users>
					<user name="BuildGuru" group="buildmaster" address="buildguru@ayende.com"/>
				</users>
				<groups>
					<group name="developers" notification="change"/>
					<group name="buildmaster" notification="always"/>
				</groups>
			</email>
		</publishers>
	</project>
</cruisecontrol>