<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
	<Product UpgradeCode="C8837D95-1897-4956-9F50-8CF733CD1E5A"
			 Name="Rhino.Generators"
			 Id="1C532D4B-1552-4692-A916-51C3DF921356"
			 Version="1.0.0"
			 Manufacturer="Rhino"
			 Language="1033">
		<Package Id="49435BD7-070E-4a01-AABD-54E818EB0191"
				 Comments="Rhino Generator"
				 Manufacturer="Rhino"
				 InstallerVersion="200"
				 Platforms="Intel"
				 Languages="1033"
				 Compressed="yes"
				 SummaryCodepage="1252" />
		<Media Id="1"
			   Cabinet="Product.cab"
			   EmbedCab="yes" />
		<Directory Id="TARGETDIR"
				   Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="CompDir"
						   Name="Rhino">
					<Directory Id="INSTALLLOCATION"
							   Name="Rhino.Generators"
							   LongName="Rhino.Generators">
						<Component Id="cs_parser"
								   Guid="9D3A9EB0-E976-4094-823F-2FDB8CC9AD54">
							<File Id="_A9384B4BB22ADDB54CD7E1CEE022F041"
								  Name="CSharp.Parser.dll"
								  LongName="CSharp.Parser.dll"
								  Source="$(var.BuildPath)CSharp.Parser.dll"
								  Vital="yes"
								  KeyPath="yes"
								  AssemblyManifest="_A9384B4BB22ADDB54CD7E1CEE022F041"
								  AssemblyApplication="_A9384B4BB22ADDB54CD7E1CEE022F041"
								  Assembly=".net"
								  DiskId="1" />
						</Component>
						<Component Id="generator"
								   Guid="E415F6AB-EBDA-44a1-B3F6-E25CDC4C2062">
							<File Id="_A9384B4BB22ADDB54CD7E1CEE022F041"
								  Name="Rhino.Generators.dll"
								  LongName="Rhino.Generators.dll"
								  Source="$(var.BuildPath)Rhino.Generators.dll"
								  Vital="yes"
								  KeyPath="yes"
								  AssemblyManifest="_A9384B4BB22ADDB54CD7E1CEE022F041"
								  AssemblyApplication="_A9384B4BB22ADDB54CD7E1CEE022F041"
								  Assembly=".net"
								  DiskId="1" />
						</Component>
						<Component Id="generator_def"
								   Guid="9D827AAD-2BCF-4c60-B8C0-40C9FB598529">
							<File Id="_A9384B4BB22ADDB54CD7E1CEE022F041"
								  Name="Rhino.Generators.Definitions.dll"
								  LongName="Rhino.Generators.Definitions.dll"
								  Source="$(var.BuildPath)Rhino.Generators.Definitions.dll"
								  Vital="yes"
								  KeyPath="yes"
								  AssemblyManifest="_A9384B4BB22ADDB54CD7E1CEE022F041"
								  AssemblyApplication="_A9384B4BB22ADDB54CD7E1CEE022F041"
								  Assembly=".net"
								  DiskId="1" />
						</Component>
						<Component Id="Register_Custom_Tool"
								   Guid="F991E23C-5608-46f1-B124-99BF55F70E9D">
							<Registry Id="_AB45EEB1D58542D7B96B63624F1E9051"
									  Root="HKLM"
									  Key="Software\Microsoft\VisualStudio\8.0\Generators\{fae04ec1-301f-11d3-bf4b-00c04f79efbc}\PerfCounterGenerator"
									  Type="string"
									  Value="Generate boring struff for performance coutners" />
							<Registry Id="_F521248BFF244148A6948D8882ECD7E3"
									  Root="HKLM"
									  Key="Software\Microsoft\VisualStudio\8.0\Generators\{fae04ec1-301f-11d3-bf4b-00c04f79efbc}\PerfCounterGenerator"
									  Name="GeneratesDesignTimeSource"
									  Type="integer"
									  Value="1" />
							<Registry Id="_AD64A9CD79E2403180FC073C84140A09"
									  Root="HKLM"
									  Key="Software\Microsoft\VisualStudio\8.0\Generators\{164b10b9-b200-11d0-8c61-00a0c91e29d5}\PerfCounterGenerator"
									  Type="string"
								  Value="Generate boring struff for performance coutners" />
							<Registry Id="_CC1EDA258CEA4F7BBC5B4B25287A7324"
									  Root="HKLM"
									  Key="Software\Microsoft\VisualStudio\8.0\Generators\{164b10b9-b200-11d0-8c61-00a0c91e29d5}\PerfCounterGenerator"
									  Name="GeneratesDesignTimeSource"
									  Type="integer"
									  Value="1" />
							<Registry Id="_EEE52E57B45D4A6E99537E3AFCCF3F4C"
									  Root="HKLM"
									  Key="Software\Microsoft\VisualStudio\8.0\Generators\{164b10b9-b200-11d0-8c61-00a0c91e29d5}\PerfCounterGenerator"
									  Name="CLSID"
									  Type="string"
									  Value="{DE8A7135-96F6-47ba-9DC9-D7D837B4CDE3}" />
							<Registry Id="_93C9C19EC43B4AADAA1E02204AA648E3"
									  Root="HKLM"
									  Key="Software\Microsoft\VisualStudio\8.0\Generators\{fae04ec1-301f-11d3-bf4b-00c04f79efbc}\PerfCounterGenerator"
									  Name="CLSID"
									  Type="string"
									  KeyPath="yes"
									  Value="{DE8A7135-96F6-47ba-9DC9-D7D837B4CDE3}" />
						</Component>
						<Component Id="Register_COM_Component"
								   Guid="{92587D3D-246E-44bc-8F9F-BFEC57D1E0D7}">
							<File Id="_A6D52CE80673878F06D0D60292AAFF5F"
								  Name="Rhino.Generators.dll"
								  LongName="Rhino.Generators.dll"
								  Source="$(var.BuildPath)Rhino.Generators.dll"
								  Vital="yes"
								  KeyPath="yes"
								  AssemblyManifest="_A6D52CE80673878F06D0D60292AAFF5F"
								  AssemblyApplication="_A6D52CE80673878F06D0D60292AAFF5F"
								  Assembly=".net"
								  DiskId="1" />
							<Registry Id="_2FFEC51D4A55451EA3C02A13F9F5E81F"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{EA132F6E-92D5-4549-B39F-F34BBC8B57DF}InprocServer32\1.8.-1.0"
									  Name="Class"
									  Type="string"
									  Value="Rhino.Generator.PerfCounterGenerator" />
							<Registry Id="_928679DFCA434D16822885E25E423E54"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{EA132F6E-92D5-4549-B39F-F34BBC8B57DF}InprocServer32\1.8.-1.0"
									  Name="CodeBase"
									  Type="string"
									  Value="[#_A6D52CE80673878F06D0D60292AAFF5F]" />
							<Registry Id="_9E82A21798C1459A9982ED83680CA5FA"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{EA132F6E-92D5-4549-B39F-F34BBC8B57DF}InprocServer32\1.8.-1.0"
									  Name="RuntimeVersion"
									  Type="string"
									  Value="v2.0.50727" />
							<Registry Id="_DEA90E2EE8CB436FA418ECB4E697E1C7"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{EA132F6E-92D5-4549-B39F-F34BBC8B57DF}InprocServer32\1.8.-1.0"
									  Name="Assembly"
									  Type="string"
									  Value="Rhino.Generators, Version=1.8.-1.0, Culture=neutral, PublicKeyToken=0b3305902db7183f" />
							<Registry Id="_F7D486702C434288ABA81C65FD187575"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{EA132F6E-92D5-4549-B39F-F34BBC8B57DF}InprocServer32"
									  Type="string"
									  Value="mscoree.dll" />
							<Registry Id="_187FF0C0CCAE477AB02B1D81D7FE8D0E"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{EA132F6E-92D5-4549-B39F-F34BBC8B57DF}InprocServer32"
									  Name="ThreadingModel"
									  Type="string"
									  Value="Both" />
							<Registry Id="_6BB09361928A464492F98964B41961E2"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{EA132F6E-92D5-4549-B39F-F34BBC8B57DF}InprocServer32"
									  Name="Class"
									  Type="string"
									  Value="Rhino.Generator.PerfCounterGenerator" />
							<Registry Id="_BBEFC38E342E4F659E4D93E8825474D8"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{EA132F6E-92D5-4549-B39F-F34BBC8B57DF}InprocServer32"
									  Name="RuntimeVersion"
									  Type="string"
									  Value="v2.0.50727" />
							<Registry Id="_EC45DE65402D4FF1B59AE9F0573AEC2F"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{EA132F6E-92D5-4549-B39F-F34BBC8B57DF}InprocServer32"
									  Name="CodeBase"
									  Type="string"
									  Value="[#_A6D52CE80673878F06D0D60292AAFF5F]" />
							<Registry Id="_F8667291B19E4E1AA744C1965EBC594E"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{EA132F6E-92D5-4549-B39F-F34BBC8B57DF}InprocServer32"
									  Name="Assembly"
									  Type="string"
									  Value="Rhino.Generators, Version=1.8.-1.0, Culture=neutral, PublicKeyToken=0b3305902db7183f" />
							<Registry Id="_645EDE3F267C4FDB938FA4D7420B388D"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{EA132F6E-92D5-4549-B39F-F34BBC8B57DF}Implemented Categories\{62C8FE65-4EBB-45E7-B440-6E39B2CDBF29}"
									  Action="createKeyAndRemoveKeyOnUninstall" />
							<Registry Id="_00A750C5C5214FFCA2937C831300DC49"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{EA132F6E-92D5-4549-B39F-F34BBC8B57DF}ProgId"
									  Type="string"
									  Value="Rhino.Generator.PerfCounterGenerator" />
							<Registry Id="_C10F7D43C76B43829638C84D1F899314"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\{DE8A7135-96F6-47BA-9DC9-D7D837B4CDE3}"
									  Type="string"
									  Value="Rhino.Generator.PerfCounterGenerator" />
							<Registry Id="_B14B662EF2AC440DA7CAB300258C979F"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\Rhino.Generator.PerfCounterGenerator\CLSID"
									  Type="string"
									  Value="{DE8A7135-96F6-47BA-9DC9-D7D837B4CDE3}" />
							<Registry Id="_45B512DAD9434DB2A764AAB66E50CA8B"
									  Root="HKLM"
									  Key="SOFTWARE\Classes\CLSID\Rhino.Generator.PerfCounterGenerator"
									  Type="string"
									  Value="Rhino.Generator.PerfCounterGenerator" />
						</Component>
						<Component Id="AddingToPath"
								   Guid="D6D985C0-8469-4C0C-88D1-5F04AAFD753A"
								   DiskId="1">
							<!-- Note that permanent is set to "yes", because 
								otherwise on uninstall we will loose the path 
							-->
							<Environment Id="Add_NHQG_To_Path"
										 Name="PATH"
										 Action="create"
										 Permanent="yes" 
										 Part="last"
										 Value="[INSTALLLOCATION]" />
						</Component>
					</Directory>


				</Directory>
			</Directory>
		</Directory>

		<Feature Id="NHibernate_Query_Generator"
				 Title="NHibernate Query Generator"
				 Level="1"
				 Display="expand"
				 ConfigurableDirectory="INSTALLLOCATION">
			<Feature Id="Install_Files"
					 Level="1"
					 Title="Required Files"
					 Description="The files required for NHibernate Query Generator to work">
				<ComponentRef Id="DynamicProxy" />
				<ComponentRef Id="Log4Net" />
				<ComponentRef Id="Castle_Core" />
				<ComponentRef Id="ActiveRecord" />
				<ComponentRef Id="NHib" />
				<ComponentRef Id="iesi_collections" />
				<ComponentRef Id="NHQG_CONF" />
				<ComponentRef Id="NHQG_EXE" />
			</Feature>
			<Feature Id="Custom_Tool"
					 Level="1"
					 Description="An extention to Visual Studio that will automatically generate the strongly typed query files when a change occurs to NHibernate's Mapping files."
					 Title="Custom Tool For Visual Studio .Net">
				<ComponentRef Id="Register_COM_Component" />
				<ComponentRef Id="Register_Custom_Tool" />
				<Condition Level="0">NOT Privileged</Condition>
			</Feature>
			<Feature Id="Add_To_Path"
					 Description="Adding NHQG.exe to your path, so you can call it directly from the command prompt."
					 Title="Add to path" 
					 Level="1">
				<ComponentRef Id="AddingToPath"/>
			</Feature>
		</Feature>

		<UIRef Id="WixUI_Mondo" />
		<UIRef Id="WixUI_ErrorProgressText" />
	</Product>
</Wix>
