<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings"
					  type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="NHiberante.Generics.DataBinding.Properties.Settings"
					 type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
					 requirePermission="false" />
		</sectionGroup>
		<section name="log4net"
				 type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	<connectionStrings>
		<add name="NHibernate.Generics.Tests.Properties.Settings.TestDatabase"
			 connectionString="Data Source=localhost;Initial Catalog=Test;Integrated Security=True" />
	</connectionStrings>
	<applicationSettings>
		<NHiberante.Generics.DataBinding.Properties.Settings>
			<setting name="TestDatabase"
					 serializeAs="String">
				<value>Data Source=localhost;Initial Catalog=Test;Integrated Security=True</value>
			</setting>
		</NHiberante.Generics.DataBinding.Properties.Settings>
	</applicationSettings>
	<log4net debug="false">
<appender name="UdpAppender"
		  type="log4net.Appender.UdpAppender">
	<param name="RemoteAddress"
		   value="127.0.0.1" />
	<param name="RemotePort"
		   value="8080" />
	<layout type="log4net.Layout.XmlLayoutSchemaLog4j, log4net" />
</appender>
		<root>
			<priority value="ALL" />
			<appender-ref ref="UdpAppender" />
		</root>
	</log4net>
</configuration>